/* Logo Animation */
#logo {
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
  margin-top: 3vmin;
}

#logoContainer.rotate #logo {
  transform: rotate(360deg);
}

#logoContainer {
  cursor: pointer;
  position: fixed;
}

/* Glitch Navigation */
.glitch-nav {
  position: relative;
  color: rgb(221, 220, 238);
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.glitch-nav::before,
.glitch-nav::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.glitch-nav:hover::before,
.glitch-nav:hover::after {
  opacity: 1;
  animation: glitch 1s linear infinite;
}

.glitch-nav::before {
  color: rgb(255, 255, 255);
  animation: glitchBefore 0.5s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.glitch-nav::after {
  color: cyan;
  animation: glitchAfter 0.3s linear infinite;
  clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%);
}

/* Underline Animation */
.glitch-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: cyan;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.glitch-nav:hover::after,
.glitch-nav:active::after {
  width: 100%;
  left: 0;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchBefore {
  0% {
    transform: translate(0, 0) skew(0deg);
  }
  10% {
    transform: translate(-2px, -2px) skew(10deg);
  }
  20% {
    transform: translate(2px, 2px) skew(-10deg);
  }
  30%,
  100% {
    transform: translate(0, 0) skew(0deg);
  }
}

@keyframes glitchAfter {
  0% {
    transform: translate(0, 0) skew(0deg);
  }
  10% {
    transform: translate(2px, 2px) skew(-10deg);
  }
  20% {
    transform: translate(-2px, -2px) skew(10deg);
  }
  30%,
  100% {
    transform: translate(0, 0) skew(0deg);
  }
}

.icons:hover {
  color: #f0f0f0;
  transform: scale(1.1) rotate(45deg); /* Adjusted to 45deg for visible rotation */
  transform-style: preserve-3d; /* Optional, remove if not needed */
  transition: transform 0.3s ease, color 0.3s ease; /* Added transition for smooth effect */
}

.active-nav {
  color: #00d4ff !important;
  position: relative;
}

.active-nav::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #00d4ff 60%, #0ff 100%);
  border-radius: 2px;
  transition: width 0.3s;
}
